<!-- templates/products/product_detail.html -->
{% extends '_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
    <!--Main layout-->
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
            <div class="col-lg-4 col-sm-6">

                {% if product.images %}
                    {% for image in product.images.all %}
                        <div class="thumbnail">
                             <img src="{{ image.image.url }}" class="img-thumbnail img-fluid vw-20 d-block" alt="{% trans 'Product image' %}">
                        </div>
                    {% endfor %}
              {% else %}
                    <div class="thumbnail">
                        <img src="{% static 'img/no_image.png' %}" class="card-img-top" alt="{% trans 'Product image' %}">
                    </div>
              {% endif %}
            </div>

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
                {% for badge in product.badges.all %}
                    <a href="">
                        <span class="badge purple mr-1">{{badge.name}}</span>
                    </a>
                {% endfor %}
            </div>

            <p class="lead">
                {% if product.is_promoted %}
                    <span class="mr-1">
                        <del>{{product.price}} €</del>
                    </span>
                    <span>{{product.promoted_price}} €</span>
                {% else %}
                    <span>{{product.price}} €</span>
                {% endif %}
            </p>

            <p class="lead font-weight-bold">{% trans "Description" %}</p>

            <p>{{product.description | linebreaks}}</p>

            <form action="{% url 'cart:cart_add' product.id %}" method="post" class="d-flex justify-content-left">
              <!-- Default input -->
                {% csrf_token %}
                {{ cart_product_form }}
{#              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">#}
              <button class="btn btn-primary btn-md my-0 p" type="submit">{% trans "Add to cart" %}
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">{% trans "Additional Informations" %}</h4>

            <p>{% trans "Category" %}: {{ product.category }}</p>
            <p>{% trans "Name" %}: {{ product.name }}</p>
            <p>{% trans "Flavour" %}:

                {% for flavour in product.flavour.all %}
                    {{ flavour.name }}
                {% endfor %}

            </p>
            <p>{% trans "Allergens" %}:
                {% for allergen in product.allergen.all %}
                    {{ allergen.name }}
                {% endfor %}
            </p>
            <p>{% trans "Bio" %}: {{ product.is_bio }}</p>
            <p>{% trans "Handcrafted" %}: {{ product.is_handcrafted }}</p>
            <p>{% trans "No Glucose Syrup" %}: {{ product.is_glucose_syrup_free }}</p>
            <p>{% trans "No Gluten" %}: {{ product.is_gluten_free }}</p>
            <p>{% trans "No Hydrogenated Vegetable Fats" %}: {{ product.is_hydrogenated_vegetable_fats_free }}</p>
            <p>{% trans "Quantity per product" %}: {{ product.unit_number }}</p>
            <p>{% trans "Available" %}:
                {% if product.available == 'AV' %}
                    {% trans 'Available' %}
                {% elif product.available == 'SO' %}
                    {% trans 'Stock out' %}
                {% else %}
                    {% trans 'Shutdown' %}
                {% endif %}
            </p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

{#          {% for prod in category.products %}#}
{#            <!--Grid column-->#}
{#            <div class="view overlay">#}
{#                <img src="{% if prod.images.first.image %}#}
{#                              {{ prod.images.first.image.url }}#}
{#                          {% else %}#}
{#                            {% static 'img/no_image.png' %}#}
{#                          {% endif %}"#}
{#                     class="card-img-top"#}
{#                     alt="{% trans 'Product image' %}">#}
{#                <a href="{{ prod.get_absolute_url }}">#}
{#                  <div class="mask rgba-white-slight"></div>#}
{#                </a>#}
{#              </div>#}
{#            <!--Grid column-->#}
{#          {% endfor %}#}

      </div>
      <!--Grid row-->

    </div>
  <!--Main layout-->
{% endblock content %}