{% extends '_base.html' %}
{% load static %}

{% block title %}Client{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<p>fill</p>
<p>fill</p>
<h1 class="ml-5 mb-5">Client information</h1>
<div class="row">
    <div class="col-sm ml-5">
        <p>username : {{ user.username }}</p>
        <p>email : {{ user.email }}</p>
        <button type="button" class="btn btn-light btn-sm mb-3">Change email</button>
        <p>password : *******</p>
        <button type="button" class="btn btn-light btn-sm mb-3 ">Change password</button>
        <p>Phone number: user.phone </p>
        <button type="button" class="btn btn-light btn-sm mb-3 ">Change number</button>
        <p>Gender </p>
        <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <p class="mt-3">Status</p>
        <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Particulier</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Entreprise</label>
        </div>

    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <div class="card card-block d-flex mb-5" style="height: 4rem;width: 18rem;">
            <div class="card-body align-items-center d-flex justify-content-center">
                <a class="stretched-link" style="color: inherit;text-decoration: inherit;" href="#">
                    Order history
                </a>
            </div>
        </div>
        <div class="card card-block d-flex mb-5" style="height: 4rem;width: 18rem;">
            <div class="card-body align-items-center d-flex justify-content-center">
                <a class="stretched-link" style="color: inherit;text-decoration: inherit;" href="#">
                    Current order
                </a>
            </div>
        </div>
        <div class="card card-block d-flex mb-5" style="height: 4rem;width: 18rem;">
            <div class="card-body align-items-center d-flex justify-content-center">
                <a class="stretched-link" style="color: inherit;text-decoration: inherit;" href="#">
                    Subscription
                </a>
            </div>
        </div>
    </div>
</div>



<p><a href="{%  url 'account_logout' %}">Log Out</a></p>
{% else %}


<a href="{% url 'account_login' %}">Log In</a> |
<a href="{% url 'account_signup' %}">Sign Up</a>

{% endif %}
{% endblock content %}