<!-- templates/homepage.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <p>fill</p>
    <p>fill</p>
    <h1>Homepage</h1>
    <img class="img-fluid rounded mx-auto d-block" src="{% static 'images/IMG_0075.jpg' %}">
    {% if user.is_authenticated %}
        <p class="ml-2">Hi {{ user.username }}!</p>
        <p><a class="ml-2" href="{%  url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p class="ml-2" >You are not logged in.</p>
        <a class="ml-2" href="{% url 'account_login' %}">Log In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{%  endblock content %}
